:root {
    --primary-bg-color: #262626;
    --h6-color: #CACACA;
    --white: #FFFFFF;
    --highlight-color: #E9AA89;
}

body {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    font-family: helvetica;
    color: var(--white);
    background-color: var(--primary-bg-color);
}

header , .close-menu{
    display: none;
}

.open-menu {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    z-index: 10;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin: 0;
}

h5 {
    font-weight: 400;
    font-size: 18px;
    color: var(--highlight-color);
    margin-top: 1rem;
}

h6 {
    font-weight: 600;
    font-size: 12px;
    color: var(--h6-color);
    margin: 5rem 0 1rem 0;
}

.artwork-h6 {
    font-weight: 600;
    font-size: 12px;
    color: var(--h6-color);
    margin: 2rem 0 1rem 0;

}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7rem;
}

.info_start {
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    
}

.item {
    position: relative;
    /* overflow: hidden; */
    width: 42vw;
    height: 42vw;
}

.item img {
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    object-fit: cover;
}

.item p {
    position: absolute;
    inset: 0; /* Makes p cover the whole image area */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin: 0;
}

.item:hover img {
    opacity: 0.3; 
    cursor: pointer;
}

.item:hover p {
    opacity: 1;
    cursor: pointer;
}

.head-picture {
    position: relative;
    width: 100vw;
    height: 100vw;
}

.head-picture img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 500px) {
    .item {
        max-width: 300px;
        max-height: 300px;
    }
    
    .head-picture {
        max-width: 100%;
        max-height: 70vh;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    body {
        margin: 0 20rem 0 20rem;
    }

   
}