:root {
    --primary-bg-color: #262626;
    --h6-color: #CACACA;
    --white: #FFFFFF;
    --highlight-color: #E9AA89;
}

body {
    margin: 0;
    max-width: 100%;
    font-family: helvetica;
    color: var(--white);
    background-color: var(--primary-bg-color);
}

/*header ,*/ .close-menu{
    display: none;
}

nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}

nav ul {
    display: block;
    list-style: none;
    width: 100%;
    flex-basis: 100%;
}

nav ul li {
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    padding: 0.5em;
    text-decoration: none; 
    font-size: 3rem;   
 }

a {
    text-decoration: none;
    color: white;
}
.contact{
    padding-left: 4rem;
}
.open-menu, .close-menu {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}
.close-menu, .open-menu:hover{
    cursor: pointer;
}

input[type='checkbox']:not(:checked)+.menu-container {
    display: none;
}

nav input[type='checkbox'], nav label {
    display: none;
}

nav label {
    text-align: right;
    display: block;
    padding: 0.5em;
    line-height: 1.6em;
    align-self: center;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}

h5 {
    font-weight: 400;
    font-size: 18px;
    color: var(--highlight-color);
}

h6 {
    font-weight: 600;
    font-size: 12px;
    color: var(--h6-color);
    margin: 5rem 0 1rem 0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

.info_start {
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    
}

.item {
    position: relative;
    /* overflow: hidden; */
    width: 42vw;
    height: 42vw;
}

.item img {
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    object-fit: cover;
}

.item p {
    position: absolute;
    inset: 0; /* Makes p cover the whole image area */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin: 0;
}

.item:hover img {
    opacity: 0.3; 
}

.item:hover p {
    opacity: 1;
}

/* @media screen and (min-width:700px) {
    .container {
        
    }
} */